<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>

    body {
      background-color:#D1DDDB;
    }
    .flex-container {
      margin-left: 27px;
      display: flex;
      flex-wrap: wrap;
    }
    .flex-container > div {
      background-color: #85B8CB;
      width: 140px;
      margin: 7px;
      padding-top: 2px;
      border-radius: 3px;
      box-shadow: 2px 3px #888888;
      text-align: center;
      line-height: 140px;
      font-size: 30px;
    }
    h1 {
      padding-top: 30px;
      text-align: center;
      color: #283B42;
      font-style: Bold;
      font-size: 17px;
      font-family: "Comic Sans MS", cursive, sans-serif;
    }
    .hov:hover {
      background-color: #1D6A96;
    }
    ul{
      margin-top: 30px;    
      /* background-color: white; */
    }
    li {
      display: inline;
    }
    a {
      margin: 13px;
      color: #283B42;
      font-size: 13px;
      font-family: "Comic Sans MS", cursive, sans-serif;
    }
    </style>
  </head>

  <body>
    <div class="borer_box">

      <h1>Hungry !!</h1>
      <div class="flex-container">
        <div class=hov><a href="">1</a></div>
        <div class=hov><a href="">2</a></div>
        <div class=hov><a href="">3</a></div>  
        <div class=hov><a href="">4</a></div>
        <div class=hov><a href="">5</a></div>
        <div class=hov><a href="">6</a></div>  
      </div>
        
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/users">Members</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/favorites">favorites</a></li>
      </ul>

    </div>
  </body>
</html>
