<h4>all favorites</h4>

<ul> favorites: 
<% @favorites.each do |favorite| %>
    <a href="/favorites/<%= favorite.id%>">
        <li> <%= favorite.recipe.name %> </li>
    </a>
<% end %>
</ul>

<a href='/users'> Member </a>
<a href='/recipes'> Recipes </a>
<a href='/favorites'> favorites </a>