<h1>All Favorites</h1>

<ul>
<% @favorites.each do |favorite|%>
<li> <a href="/recipes/<%= favorite.recipe.id%>">
    <%= favorite.recipe.name%></a></li>
<% end%>
</ul>

<a href="/favorites/new"> Add New favorite</a><br>
<a href='/users'> Member </a>&nbsp; &nbsp;
<a href='/recipes'> Recipes </a>&nbsp; &nbsp;
<a href='/favorites'> favorites </a>
