<h4>create new favorites</h4>
<form action="/favorites" method='post'>

<label>Favorite Recipe Name:</label>
<input type="text" name="recipe_name"/>
<textarea name="ingredients" id="ingredients" cols="30" rows="10" placehold=""></textarea>

<input type="submit"/>

</form>

<a href='/users'> Member </a>
<a href='/recipes'> Recipes </a>
<a href='/favorites'> favorites </a>