<h1>Create Favorite Review</h1>

<form action="/favorites" method='post'>
<label for="name">Recipe Name : </label>
<input type="text" name="recipe[:name]" id="name"/><br>
<label for="ingredients">Recipe Ingredients : </label>
<input type="text" name="recipe[:ingredients]" id="ingredients"/><br>
<label for="rating">Recipe Rating : </label>
<input type="text" name="recipe[:rating]" id="rating"/><br>
<label for="comment">Comment : </label>
<input type="text" name="comment" id="comment"/><br><br>

<input type="submit">
</form>

<a href='/favorites'> Back to Favorites List</a><br>

<a href='/users'> Member </a>&nbsp; &nbsp;
<a href='/recipes'> Recipes </a>&nbsp; &nbsp;
<a href='/favorites'> favorites </a>
