<h1>single favorite recipe :</h1>


<h3><%= @favorite.recipe.name %></h3>
<h3><%= @favorite.recipe.ingredients %></h3>
<h3><%= @favorite.recipe.rating %></h3>

<a href='/users'> Member </a>&nbsp; &nbsp;
<a href='/recipes'> Recipes </a>&nbsp; &nbsp;
<a href='/favorites'> Favorites </a>
