<h1>All Recipes</h1>

<ul>
    <%@recipe.each do |x|%>
        <a href='/recipes/<%=x.id%>'>
         <li> <%=x.name%></li>
         </a>
    <%end%>   
</ul>

<a href='/recipes/new'> Create New Recipe </a><br><br>
<a href='/users'> Member </a>&nbsp; &nbsp;
<a href='/recipes'> Recipes </a>&nbsp; &nbsp;
<a href='/favorites'> favorites </a>
