<h1>Create New Recipe</h1>

<form action='/recipes' method="post">
<label>Name</label>
<input type="text" name="name" placeholder="Type Dish Name">

<label>Ingredients</label>
<input type="text" name="ingredients" placeholder="Type Dish Ingredients">

<label>Rating</label>
<input type="integer" name="rating" placeholder="Type Dish Rating">

<input type="Submit">
</form>

<<<<<<< HEAD
<a href='/users'> Member </a>
<a href='/recipes'> Recipes </a>
<a href='/favorites'> favorites </a>
=======
>>>>>>> 1c9d4a5f0821e46454c5300e84b2a7f1e9b0dacd
