<h1>Create Recipe</h1>

<form action='/recipes' method="post">
    <label>Name</label>
    <input type="text" name="name" placeholder="Type Dish Name">

    <label>Ingredients</label>
    <input type="text" name="ingredients" placeholder="Type Dish Ingredients">

    <label>Rating</label>
    <input type="integer" name="rating" placeholder="Type Dish Rating">

    <input type="Submit">
</form>

<a href='/recipes'> Back To Recipe List</a><br><br>

<a href='/users'> Member </a>&nbsp; &nbsp;
<a href='/recipes'> Recipes </a>&nbsp; &nbsp;
<a href='/favorites'> favorites </a>
