<h1><%=@recipe.name%></h1>

<label>Rating:<%=@recipe.rating%></label><br>


<label>Ingredients</label>
<ul>
    <li><%=@recipe.ingredients%></li>
</ul>

<a href='/recipes/<%=@recipe.id%>/edit'> Edit </a> <br>

<a href='/recipes'> Back </a>
